<div class="nav">
  <ul>
    <li><a id="create-account" href="#">Create Account</a></li>
    <li><a id="sign-in" href="#">Sign In</a></li>
    <!-- <li><a id="swill" href="#">Swill</a></li>
    <li><a id="all" href="#">All Ideas</a></li>
    <li><a id="sort" href="#">Sort</a></li> -->
    <!-- <li><input id="search" type="text" name="search" placeholder="Search Ideas"></a></li> -->
  </ul>
</div>
