<h1>Table</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker" id="this">
  <input type="submit" data-behavior="room_speaker" value="Submit" id="bet">
</form>
