.game-actions {
  width: 100%;
  clear: both;
  height: 50px;
  display: inline-block;
}

.bet {
  width: 20%;
  display: inline-block;
  float: right;
}

.bet-form {
  display: none;
  width: 47%;
  margin-left: 40%;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 40px;
  background-color: white;
  padding: 10px;
  font-family: Sans-serif;
}

.current-bet {
  width: 90%;
  font-size: 20px;
  margin: 10px;
}

#bet-amount {
  width: 89%;
}

#current-bet {
  background-color: #b30000;
  color: white;
  font-size: 15px;
  border: none;
  outline: none;
  margin-top: 5px;
  font-family: Sans-serif;
  height: 30px;

}

#current-bet:hover:not(.active) {
  background-color: #cc0000;
}

#current-bet:active {
  transform: translateY(2px);
}

.check {
  width: 20%;
  display: inline-block;
  float: right;
  font-family: Sans-serif;
}

.fold {
  width: 20%;
  display: inline-block;
  float: right;
  font-family: Sans-serif;
}

.action {
  float: left;
  background-color: #b30000;
  color: white;
  font-size: 15px;
  border: none;
  outline: none;
  margin-top: 5px;
  font-family: Sans-serif;
  height: 30px;
  width: 100px;
  display: inline-block;
}

.action:hover:not(.active) {
  background-color: #cc0000;
}

.action:active {
  transform: translateY(2px);
}

.background {
  width: 98.9%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
