ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 50px;
}

li {
  float: right;
  font-family: Sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor:default;
}

/* Change the link color to #111 (black) on hover */
li:hover {
  background-color: #111;
  cursor:default;
}

.game-stats {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  float: left;
  font-family: Sans-serif;
}
