#players {
  text-align: center;
  color: white;
  font-family: sans-serif;
  /*display: inline-block;*/
  background-color: none;
  float: right;
}

#player {
  float: right;
  font-family: Sans-serif;
  /*display: inline-block;*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: none;
}

#cards {
  margin: auto;
  width: 400px;
  display: block;
}

#game_card {
  width: 125px;
  float: right;
}

#game_cards {
  display: inline-block;
  float: right;
  margin-right: -15%;
  margin-top: 5%;
}

#pocket {
  width: 100px;
  float: right;
}

#pocket_cards {
  float: right;
  margin-right: 10%;
  margin-top: -10%;
}

.pocket-cards {
  display: inline-block;
}

#player {
  font-size: 20px;
  color: white;
}
