#players {
  text-align: center;
  color: white;
  font-family: sans-serif;
  background-color: none;
  float: right;
  width: 70%;
  height: 30px;
  display: inline;
}

.player {
  float: right;
  font-family: Sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: none;
}

.highlight {
  color: red;
}

.fold {
  color: gray;
}

#cards {
  margin: auto;
  width: 400px;
  display: block;
}

#game_card {
  width: 125px;
  float: right;
}

#game_cards {
  display: inline-block;
  float: right;
  margin-top: 5%;
  width: 60%;
  margin-right: 5%;
}

#pocket {
  width: 110px;
  float: right;
  margin-top: 5%;
  margin-right: 30.8%;
}

#pocket_cards {
  background-color: black;
  width: 110px;
  padding: 2px;
  height: 30px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  border: none;
  outline: none;
}

#pocket_cards:hover {
  background-color: #3e8e41;
}

#pocket_cards:active {
  transform: translateY(2px);
}

#pocket_cards {
  float: right;
  margin-right: 10%;
  margin-top: -10%;
}

.pocket-cards {
  display: inline-block;
}

#player {
  font-size: 20px;
  color: white;
}
