.players {
  margin-left: 30%;
  margin-right: 10%;
  text-align: center;
  color: white;
  float: right;
  font-family: sans-serif;
}

#pocket {
  width: 100px;
  float: right;
}

.pocket {
  float: right;
  margin-right: 10%;
  margin-top: -10%;
}

.pocket-cards {
  display: inline-block;
}
